html,body{
	width: 100%;
	height: 100%;
}

body{
    overflow: hidden;
}

html{
	background: #3B3283;
	--basic-bg-color: #3B3283;
	--basic-fg-color: white;
	--basic-ff-color: #C5CD7C;
}

.fiveHMargin{
	margin-left: 5px; 
	margin-right: 5px; 
}

.fivePrecentMarginTop{
	margin-top: 5% !important;
}

.fullWidth{
	width: 100%;
}

.halfWidth{
	width: 50%;
}

.fullHeight{
	height: 100%;
}

.centerContent{
	text-align: center;
}

.centerParent{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 90%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#confirmButton:hover{
	color: #C5CD7C;
}

.fullHeight{
	height: 100%;
}

.addressList{
	margin: 0px auto;
	display: flex;
	height: 70%;
	overflow: auto;
	flex-direction: row;
	justify-content: space-between;
}

.guideTab{
	padding: 5px;
	background: lightgray;
	height: 100%;
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	overflow-y: scroll;
}

.guideTab::-webkit-scrollbar{
	width: 0px;
}

.activeGuideTabItem{
	background: var(--basic-bg-color);
}

.activeGuideTabItemLink{
	color: var(--basic-ff-color) !important;
}

.guideTabItem{
	margin: 2px 5px;
	padding: 2px;
}

.guideTabItem:hover{
	background: var(--basic-bg-color);
}

.guideTabItem:hover a{
	color: var(--basic-ff-color);
}

.guideTabItem a{
	color: black;
}

/*.guideDetailList{
	width: 90%;
    padding: 10px;
    background: var(--basic-fg-color);

	display: grid;
	grid-template-columns: repeat(auto-fill,  30%);
	grid-template-rows: repeat(auto-fill, 80px);
	column-gap: 2%;
	grid-row-gap: 20px;
	justify-content: center;

	overflow-y: scroll;
}*/

.guideDetailList::-webkit-scrollbar{
	width: 0px;
}

/*.guideDetail{
	width: 100%;
	height: 80px;
	margin: 1% auto;
	box-shadow: 1px 1px 2px 2px silver;
    border-radius: 10px;
    padding: 2px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}*/

@media only screen and (max-width: 600px) {
    .guideDetail{
		width: 100%;
		min-height: 120px;
		margin: 5px auto;
		box-shadow: 1px 1px 2px 2px silver;
	    border-radius: 10px;
	    padding: 2px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.guideDetailContent{
		width: 100%;
		padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.guideDetailList{
		width: 90%;
	    padding: 10px;
	    background: var(--basic-fg-color);

		display: grid;
		grid-template-columns: repeat(auto-fill,  45%);
		grid-template-rows: repeat(auto-fill, 150px);
		column-gap: 20px;
		grid-row-gap: 20px;
		justify-content: center;

		overflow-y: scroll;
	}
	.guideDetailAltWrapper{
		color: var(--basic-ff-color);
		display: inline-block; 
		overflow: hidden;
	    width: 90%;
	    margin: 0px auto;
	}
}

@media only screen and (min-width: 600px) {
    .guideDetail{
		width: 100%;
		height: 80px;
		margin: 1% auto;
		box-shadow: 1px 1px 2px 2px silver;
	    border-radius: 10px;
	    padding: 2px;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.guideDetailContent{
		flex: 3;
		width: 0;
		padding: 5px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
	.guideDetailList{
		width: 90%;
	    padding: 10px;
	    background: var(--basic-fg-color);

		display: grid;
		grid-template-columns: repeat(auto-fill,  20%);
		grid-template-rows: repeat(auto-fill, 80px);
		column-gap: 2%;
		grid-row-gap: 20px;
		justify-content: center;

		overflow-y: scroll;
	}
	.guideDetailAltWrapper{
		color: var(--basic-ff-color);
		display: inline-block; 
		overflow: hidden;
	    width: 70%;
	    margin: 0px auto;
	}
}

@media only screen and (min-width: 992px) {
    .guideDetail{
		width: 100%;
		height: 80px;
		margin: 1% auto;
		box-shadow: 1px 1px 2px 2px silver;
	    border-radius: 10px;
	    padding: 2px;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.guideDetailContent{
		flex: 3;
		width: 0;
		padding: 5px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
	.guideDetailList{
		width: 90%;
	    padding: 10px;
	    background: var(--basic-fg-color);

		display: grid;
		grid-template-columns: repeat(auto-fill,  20%);
		grid-template-rows: repeat(auto-fill, 80px);
		column-gap: 2%;
		grid-row-gap: 20px;
		justify-content: center;

		overflow-y: scroll;
	}
	.guideDetailAltWrapper{
		color: var(--basic-ff-color);
		display: inline-block; 
		overflow: hidden;
	    width: 70%;
	    margin: 0px auto;
	}
} 

.guideDetailImg{
	width: 64px;
	height: 64px;
	border-radius: 100%;
	flex: 1;
	object-fit: contain;
}

.guideDetailLink{
	width: 100%;
	display:block;
	overflow:hidden;
	word-break:keep-all;
	white-space:nowrap;
	text-overflow:ellipsis
}

/*.guideDetailAltWrapper{
	color: var(--basic-ff-color);
	display: inline-block; 
	overflow: hidden;
    width: 70%;
    margin: 0px auto;
}*/

.guideDatilAlt{
	width: 100%;
	display:block;
	overflow:hidden;
	word-break:keep-all;
	white-space:nowrap;
	text-overflow:ellipsis
}

/*.guideDetailContent{
	flex: 3;
	width: 0;
	padding: 5px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}*/


@keyframes shadowPulse {
    0% {
        box-shadow: 1px 1px 2px 2px orange;
    }

    100% {
        box-shadow: 2px 2px 5px 5px orange;
    }
}

.shadow-pulse {
    animation-name: shadowPulse;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}